@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  font-style: normal;
  src: url('https://www.cakepower.net/media/fonts/GmarketSansLight.woff2') format('woff2');
  font-display: swap;
} 
@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  font-style: normal;
  src: url('https://www.cakepower.net/media/fonts/GmarketSansMedium.woff2') format('woff2');
  font-display: swap;
} 
@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  font-style: normal;
  src: url('https://www.cakepower.net/media/fonts/GmarketSansBold.woff2') format('woff2');
  font-display: swap;
}

.font-gmarket {
    font-family: 'GmarketSans', sans-serif; /* 띄어쓰기 포함하여 정확히 일치시켜야 합니다. */
}

.clip-path-circle-start {
    clip-path: circle(0% at 50% 50%); /* 시작: 원이 0% */
}

.clip-path-circle-end {
    clip-path: circle(150% at 50% 50%); /* 끝: 원이 전체를 덮음 */
}